.headshot_Styled {
    filter: var(--secondary_filter);
    /*transition: var(--transition);*/
}

.headshot_Styled:hover {
  filter: none;
  transition: var(--transition2);
  transform: scale(1.02,1.02);


}

.wrapper {
  box-shadow: 11px 10px 20px -15px var(--primary_mid_green);
  transition: var(--transition);
  max-width: 300px;
  max-height: 300px;
}

.wrapper img {
  border-radius: 4px;
}
