.headshot_Styled {
    filter: var(--secondary_filter);
}

.headshot_Styled:hover {
  filter: none;
  transition: var(--transition2);
  transform: scale(1.02,1.02);
}

.wrapper {
  transition: var(--transition);
  width: 100%;
  height: auto;
}

.wrapper img {
  box-shadow: 9px 9px 20px -20px black;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .wrapper img {
    width: 80%;
  }
}
