.headshot_Styled {
    filter: invert(18%) sepia(2%) saturate(1605%) hue-rotate(62deg) brightness(91%) contrast(98%);
    /*transition: var(--transition);*/
}

.headshot_Styled:hover {
  filter: none;
  transition: var(--transition2);
  transform: scale(1.02,1.02);


}

.wrapper {
  box-shadow: 0 10px 30px -15px var(--primary_mid_green);
  transition: var(--transition);
}

.wrapper img {
  border-radius: 4px;
}
