.navlinks--StyledLinks {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .navlinks--StyledLinks > ol > li{
    display: none;
  }
  .resume-btn {
    display: none;
  }
}

.navlinks--StyledLinks > ol {
  display: flex;
  -webkit-box-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.navlinks--StyledLinks > ol > li {
  margin: 0 5px;
  position: relative;
  counter-increment: item 1;
  border-radius: 16px;
}

.navlinks--StyledLinks > ol >li > a {
  color: var(--primary_light_green);
  display: inline-block;
  text-decoration: none;
  transition: var(--transition);
  padding: 10px;
}

.navlinks--StyledLinks > ol >li > a::before {
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: var(--primary_maroon);
  text-align: right;
}

.navlinks--StyledLinks > ol > li > a:hover {
  color:var(--primary_maroon);
  transform: scale(1.05, 1.05);
}

.navlinks--StyledLinks > ol > li > a:focus {
  color:var(--primary_maroon);
  box-shadow: 0 0 3px var(--primary_maroon);
}

.resume-btn {
  color: var(--primary_maroon);
  background-color: transparent;
  border: 2px solid var(--primary_maroon);
  border-radius: var(--border-radius);
  padding: 12px 16px;
  font-family: var(--special-font);
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition2);
  margin-left: 15px;
}

.resume-btn:hover {
  background-color: var(--secondary_maroon);
}
