.projects__StyledProjects {
  max-width: 1000px;
}

.projects__StyledPresentation {
  max-width: 600px;
  margin-bottom: 40px;
}

.projects__StyledPresentation a {
  text-decoration: none;
  color: var(--primary_maroon);
}

.inner_projects {
  list-style: none;
  margin: 0;
  padding: 0;
}
