.project__StyledProject {
  position: relative;
  display: grid;
  /*gap: 10px;*/
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .project__StyledProject {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project__Child:not(:last-of-type) {
  margin-bottom: 100px;
}

.project__StyledContent {
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .project__StyledContent {
    grid-column: 1 / 9;
  }
}

@media screen and (max-width: 768px) {
  .project__StyledContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    grid-column: 1 / -1;
    padding: 40px 40px 30px;
    z-index: 5;
  }
}
/*------------test------------*/
.project__StyledContent a {
  text-decoration: none;
  color: var(--primary_light_green);
  font-family: var(--body-font);
}

.project__StyledContent a:hover {
  color: var(--primary_maroon);
  transition: var(--transition);
}
/*------------test------------*/

.project__StyledOverline{
  margin: 10px 0;
}

.project__StyledOverline > p {
  color: var(--primary_maroon);
}

.project__StyledTitle {
  margin: 0px 0px 20px;
}

.project__StyledTitle > h5 {
  font-family: var(--body-font);
}

.project__StyledDescription {
  background-color: var(--primary_mid_green);
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.5);
  padding: 25px;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .project__StyledDescription {
    background-color: transparent;
    max-width: 576px;
    padding: 0px;
  }
}

.project__StyledDescription p {
  font-family: var(--body-font);
  font-size: clamp(16px, 2vw, 18px);
}

.project__StyledContent ul {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
  margin: 25px 0 10px;
  list-style: none;
}

.project__StyledContent ul li {
  padding: 0px 20px 5px 0px;
}

.project_ListLink{
  margin-left: -10px;
}

.project__link {
  padding: 10px;
}

.project__link:hover {
  filter: var(--primary_filter);
  transition: var(--transition);
}

.project__StyledImg {
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .project__StyledImg {
    grid-column: 1 / -1;
    height: 100%;
  }
}

.project__StyledImg > a {
  text-decoration: none;
  color: var(--primary_light_green);
  font-family: var(--body-font);
}

.project__StyledImg > a::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.project__StyledImg > a > img {
  /*width: 700px;*/
  max-width: 100%;
  filter: invert(18%) sepia(2%) saturate(1605%) hue-rotate(62deg) brightness(91%) contrast(128%);
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .project__StyledImg > a > img {
    filter: invert(18%) sepia(2%) saturate(1605%) hue-rotate(62deg) brightness(30%) contrast(128%);
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .project__StyledImg > a > img:hover {
    filter: none;
    transition: var(--transition2);
    transform: scale(1.02,1.02);
  }
}
