.sideleft__Styled {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sideleft__Styled{
    left: 8px;
    right: auto;
  }
}

@media screen and (max-width: 768px) {
  .sideleft__Styled{
    display: none;
  }
}

.innerleft {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.innerleft::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--primary_light_green);
}

.sideleft__Styled a {
  text-decoration: none;
  color: var(--primary_light_green);
  font-family: var(--body-font);
}
