.tools__styledTools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.tools__circle {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--primary_mid_green);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: inset 18px 0px 45px 20px var(--primary_light_green)
}

.tools__styledTools p {
  padding: 12px 0px;

}

