.tools__styledTools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.tools__circle {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--primary_mid_green);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: inset 4px 4px 14px -12px var(--primary_light_green)
}

.tools__styledTools p {
  padding: 12px 0px;
  color: var(--primary_light_green);
  font-family: var(--special-font);
}
