/*@import "./stylesheets/config/_fonts.css";
@import "./stylesheets/config/_colors.css";*/

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin: 0 auto;
  width: 100%;
  /*max-width: 1600px;*/
  height: 100vh;
  padding: 0 150px;
  border: 2px solid red;
}

#content {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}
