/*@import "./stylesheets/config/_fonts.css";
@import "./stylesheets/config/_colors.css";*/

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin: 0;
  /*width: 100%;*/
  max-width: 1600px;
/*  height: 100vh;*/
  padding: 0 150px;
  counter-reset: section 0;
}

@media (min-width: 500px) and (max-width: 1000px) {
  main {
    padding: ;
  }
}

.content {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.content.footer {
  align-self: flex-end;
}

section {
  margin: 0 auto;
  max-width: 1000px;
  padding: 100px 0;
}
