/*@import "./stylesheets/config/_fonts.css";
@import "./stylesheets/config/_colors.css";*/

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 200px 150px;
  counter-reset: section 0;
}

@media screen and (min-width: 1080px) and (max-width: 1599px) {
  .main {
    padding: 0px 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .main {
    padding: 0px 50px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main {
    padding: 0px 25px;
  }
}

@media screen and (min-width: 400px) and (max-width: 479px) {
  .main {
    padding: 0px 25px;
  }
}

@media screen and (min-width: 330px) and (max-width: 399px) {
  .main {
    padding: 0px 25px;
  }
}



/*.content {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}*/

.content.footer {
  align-self: flex-end;
}

section {
  margin: 0px auto;
  padding: 100px 0;
  max-width: 1000px;
}


@media screen and (min-width: 480px) and (max-width: 768px) {
  section {
    padding: 80px 0;
  }
}
@media screen and (min-width: 330px) and (max-width: 479px) {
  section {
    padding: 60px 0;
  }
}
