// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// Your CSS partials
@import "components/app";
@import "components/button";
@import "components/contact_card";
@import "components/footer";
@import "components/hero";
@import "components/navbar";
@import "components/project_card";
@import "components/skills";

/*body {
  min-height: 100vh;
  // min-height: -webkit-fill-available;
  padding-top: 63px;

}
html {
  height: -webkit-fill-available;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

.center {
  display: flex !important;
  justify-content: center !important;
}
*/
